<footer class="bg-gray-900 text-gray-300 text-sm py-8">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-6 md:px-8 px-4">
    <div>
      <h3 class="text-white font-semibold mb-2">Daniel Kelly Salcedo</h3>
      <p>
        Entrenador personal especializado en transformación física, hábitos saludables y bienestar
        integral. Entrena mejor, vive mejor.
      </p>
    </div>

    <div>
      <h3 class="text-white font-semibold mb-2">Sígueme</h3>
      <ul class="space-y-1">
        <li>
          <a
            aria-label="Instagram"
            href="https://www.instagram.com/danielkelly_fit/"
            target="_blank"
            class="hover:underline">Instagram</a
          >
        </li>
        <li>
          <a
            aria-label="TikTok"
            href="https://www.tiktok.com/@danielkellys?lang=es-419"
            target="_blank"
            class="hover:underline">TikTok</a
          >
        </li>
        <li>
          <a
            aria-label="Facebook"
            href="https://www.facebook.com/profile.php?id=100087054653965"
            target="_blank"
            class="hover:underline">Facebook</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="border-t border-gray-700 mt-6 pt-4 text-center text-xs text-gray-300">
    © 2025 Daniel Kelly Fit | Sitio desarrollado por Luis Gómez
  </div>
</footer>
