---
import ButtonSocialLink from './ButtonSocialLink.astro';
import FacebooIcon from '../assets/icons/FacebookIcon.astro';
import InstagramIcon from '../assets/icons/InstagramIcon.astro';
import TikTokIcon from '../assets/icons/TikTokIcon.astro';

const { id } = Astro.props;
---

<section id={id} class="scroll-mt-30 bg-black text-white">
  <div
    class="relative grid lg:grid-cols-2 gap-x-12 gap-y-24 items-center min-h-screen max-w-7xl mx-auto md:px-8 px-4 py-12 lg:py-0"
  >
    <header class="z-20 max-w-xl">
      <h1 class="text-2xl md:text-5xl font-semibold mb-1">Hola, soy</h1>
      <h1 class="text-5xl md:text-6xl font-bold uppercase font-serif tracking-wide">
        Daniel Kelly
      </h1>
      <h2 class="text-xl md:text-2xl mb-4 text-green-600">Entrenador Personal</h2>
      <p class="text-base md:text-lg opacity-80 text-pretty text-start">
        Te guío en tu transformación física y mental con planes de entrenamiento y nutrición
        personalizados, pensados para que avances de forma segura y consigas resultados reales.
      </p>

      <p class="text-sm md:text-base text-pretty italic mt-2 text-green-300 text-start">
        - Si vas al gimnasio y no sabes que hacer y tampoco como alimentarte, pues yo te ayudo.
      </p>
      <div class="flex gap-4 mt-6 justify-start items-center">
        <p class="font-semibold">Sígueme por:</p>
        <ButtonSocialLink
          title="Facebook"
          href="https://www.facebook.com/profile.php?id=100087054653965"
          className="hover:text-blue-800 text-black"
        >
          <FacebooIcon />
        </ButtonSocialLink>
        <ButtonSocialLink
          title="Instagram"
          href="https://www.instagram.com/danielkelly_fit/"
          className="hover:text-[#9C3594] text-black"
        >
          <InstagramIcon />
        </ButtonSocialLink>
        <ButtonSocialLink
          title="Tik Tok"
          href="https://www.tiktok.com/@danielkellys?lang=es-419"
          className="text-black"
        >
          <TikTokIcon />
        </ButtonSocialLink>
      </div>
    </header>
    <picture class="lg:z-10 absolute lg:relative">
      <img
        src="/images/daniel_training.webp"
        class="object-cover mask-x-from-80% mask-y-from-90% h-[500px] md:h-[600px] right-10 lg:right-32 bottom-0"
        alt="Foto de Daniel Kelly"
      />
    </picture>
    <div class="absolute w-full h-full top-0 left-0 bg-black/90"></div>
  </div>
</section>
