<nav class="fixed top-0 left-0 w-full bg-white shadow-md z-50">
  <div class="max-w-7xl mx-auto md:px-8 px-3">
    <div class="flex items-center justify-between h-12">
      <div class="flex-shrink-0">
        <a href="#inicio">
          <img src="/images/dk_logo_black_transparent.webp" class="w-12" alt="" />
        </a>
      </div>

      <div class="flex space-x-6 md:space-x-8">
        <a href="#perfil" class="text-gray-800 hover:text-green-600 transition">Perfil</a>
        <a href="#servicios" class="text-gray-800 hover:text-green-600 transition">Servicios</a>
        <a href="#tienda" class="text-gray-800 hover:text-green-600 transition">Mi tienda</a>
        <a href="#eventos" class="text-gray-800 hover:text-green-600 transition">Eventos</a>
      </div>
    </div>
  </div>
</nav>
