---
import ProfileIcon from '../assets/icons/ProfileIcon.astro';
import ServicesIcon from '../assets/icons/ServicesIcon.astro';
import StoreIcon from '../assets/icons/StoreIcon.astro';
import EventsIcon from '../assets/icons/EventsIcon.astro';
---

<nav class="fixed top-0 left-0 w-full bg-white shadow-md z-50">
  <div class="max-w-7xl mx-auto md:px-8 px-3">
    <div class="flex items-center justify-between h-12">
      <div class="flex-shrink-0">
        <a href="#inicio" aria-label="Inicio">
          <img src="/images/dk_logo_black_transparent.webp" class="w-12" alt="" />
        </a>
      </div>

      <div class="flex gap-x-6 md:gap-x-12">
        <a
          aria-label="Perfil"
          href="#perfil"
          class="text-gray-800 hover:text-green-700 flex gap-1 transition"
        >
          <div class="hidden md:block"><ProfileIcon /></div>
          Perfil</a
        >
        <a
          aria-label="Servicios"
          href="#servicios"
          class="text-gray-800 hover:text-green-700 flex gap-1 transition"
        >
          <div class="hidden md:block"><ServicesIcon /></div>
          Servicios</a
        >
        <a
          aria-label="Tienda"
          href="#tienda"
          class="text-gray-800 hover:text-green-700 flex gap-1 transition"
        >
          <div class="hidden md:block"><StoreIcon /></div>
          Mi tienda</a
        >
        <a
          aria-label="Eventos"
          href="#eventos"
          class="text-gray-800 hover:text-green-700 flex gap-1 transition"
        >
          <div class="hidden md:block"><EventsIcon /></div>
          Eventos</a
        >
      </div>
    </div>
  </div>
</nav>
