---
const { id } = Astro.props;
---

<section class="bg-white text-black py-16 scroll-mt-10" id={id}>
  <div class="max-w-7xl mx-auto px-6 flex flex-col md:flex-row items-center gap-10">
    <picture class="w-64 md:w-72 mx-auto md:mx-0">
      <img
        src="/images/daniel_running.webp"
        alt="Daniel haciendo running"
        class="rounded-md shadow-lg transition-transform duration-300 hover:scale-105"
      />
    </picture>

    <div class="flex-1">
      <h2 class="uppercase text-2xl md:text-4xl font-bold mb-4 text-gray-800 md:text-start text-center">Mi Perfil</h2>
      <div class="text-gray-700 leading-relaxed space-y-4">
        <p>
          Mi nombre es Daniel Kelly Salcedo, soy entrenador personal certificado con 5 años de
          experiencia ayudando a personas a transformar su estilo de vida a través del ejercicio, la
          alimentación consciente y la motivación constante.
        </p>
        <p>
          He trabajado con todo tipo de clientes: desde principiantes hasta atletas, guiándolos
          hacia resultados sostenibles, ya sea pérdida de peso, ganancia muscular, mejora del
          rendimiento o simplemente sentirse mejor consigo mismos.
        </p>
        <p>
          Mi misión es ayudarte a construir un cuerpo fuerte, saludable y funcional, y que disfrutes
          el proceso mientras lo haces.
        </p>
      </div>
      <p class="mt-6 text-green-700 font-medium italic">
        “Entrena por salud, continúa por pasión, y quédate por los resultados.”
      </p>
    </div>
  </div>
</section>
