---
const { id } = Astro.props;
---

<section class="bg-white text-black py-16 scroll-mt-10" id={id}>
  <div class="max-w-7xl mx-auto md:px-8 px-4 flex flex-col md:flex-row items-center gap-16">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
      <picture class="row-span-2 w-56 flex items-center">
        <img
          src="/images/daniel_running.webp"
          alt="Daniel haciendo running"
          class="rounded-md shadow-lg transition-transform duration-300 hover:scale-105"
        />
      </picture>
      <picture class="w-56 hidden md:block">
        <img
          src="/images/daniel_perfil.webp"
          alt="Daniel haciendo running"
          class="rounded-md shadow-lg transition-transform duration-300 hover:scale-105"
        />
      </picture>
      <picture class="w-56 hidden md:block">
        <img
          src="/images/daniel_perfil_2.webp"
          alt="Daniel haciendo running"
          class="rounded-md shadow-lg transition-transform duration-300 hover:scale-105"
        />
      </picture>
    </div>

    <div class="flex-1">
      <h2
        class="uppercase text-2xl md:text-4xl font-bold mb-4 text-gray-800 md:text-start text-center"
      >
        Mi Perfil
      </h2>
      <div class="text-gray-700 leading-relaxed space-y-4">
        <p class="text-pretty">
          Mi nombre es Daniel Kelly Salcedo, soy entrenador personal certificado con 5 años de
          experiencia ayudando a personas a transformar su estilo de vida a través del ejercicio, la
          alimentación consciente y la motivación constante.
        </p>
        <p class="text-pretty">
          He trabajado con todo tipo de clientes: desde principiantes hasta atletas, guiándolos
          hacia resultados sostenibles, ya sea pérdida de peso, ganancia muscular, mejora del
          rendimiento o simplemente sentirse mejor consigo mismos.
        </p>
        <p class="text-pretty">
          Mi misión es ayudarte a construir un cuerpo fuerte, saludable y funcional, y que disfrutes
          el proceso mientras lo haces.
        </p>
      </div>
      <p class="mt-6 text-green-700 font-medium italic">
        “Entrena por salud, continúa por pasión, y quédate por los resultados.”
      </p>
      <div class="w-full mt-10 flex gap-y-3 justify-between items-center text-gray-800">
        <div class="flex flex-col gap-y-1 text-center">
          <span class="text-4xl font-semibold">+40</span>
          <span>Alumnos</span>
        </div>
        <div class="flex flex-col gap-y-1 text-center">
          <span class="text-4xl font-semibold">+5</span>
          <span>Años de experiencia</span>
        </div>
        <div class="flex flex-col gap-y-1 text-center">
          <span class="text-4xl font-semibold">12</span>
          <span>Certificaciones</span>
        </div>
      </div>
    </div>
  </div>
</section>
