---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/dk_logo_transparent.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="keywords"
      content="Daniel Kelly, Personal Trainer, Entrenador Personal, Entrenamiento, Asesoria"
    />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://danielkellyfit.vercel.app/" />
    <meta property="og:title" content="Daniel Kelly | Entrenador Personal" />
    <meta property="og:site_name" content="Daniel Kelly | Entrenador Personal" />
    <meta
      property="og:description"
      content="Bienvenidos a mi pagina web personal. Soy Daniel Kelly, entrenador personal especializado en transformación física, hábitos saludables y bienestar integral."
    />
    <meta
      property="twitter:image"
      content="https://raw.githubusercontent.com/LuisGomez11/danielkellyfit-page/main/public/images/portada.webp"
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://danielkellyfit.vercel.app/" />
    <meta property="twitter:title" content="Daniel Kelly | Entrenador Personal" />
    <meta
      property="twitter:description"
      content="Bienvenidos a mi pagina web personal. Soy Daniel Kelly, entrenador personal especializado en transformación física, hábitos saludables y bienestar integral."
    />
    <meta
      property="twitter:image"
      content="https://raw.githubusercontent.com/LuisGomez11/danielkellyfit-page/main/public/images/portada.webp"
    />
  </head>
  <body class="bg-gray-200">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <a
      href="https://wa.me/573022071208"
      target="_blank"
      class="bottom-6 md:bottom-4 right-4 bg-gray-100 fixed h-12 rounded-full p-2 flex items-center gap-2 cursor-pointer hover:bg-gray-200 md:px-6 shadow-2xl border border-[rgba(12,16,20,0.1)] shadow-gray-800 z-50"
    >
      <span class="hidden md:flex">Contactame</span>
      <img src="images/WhatsApp.webp" class="size-7" alt="Icono de WhatsApp" />
    </a>
  </body>
</html>

<style is:global>
  @import 'tailwindcss';

  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
</style>
